.custom-input {
    width: auto;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #111;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: padding-top 200ms ease-in-out;
}

.custom-input[data-state="error"] svg {
    fill: red;
}

.custom-input[data-state="correct"] svg {
    fill: yellowgreen;
}

.custom-input::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    transition: width 200ms ease-in-out;
}

.custom-input:has(input:focus)::after {
    width: 100%;
}

.custom-input > input {
    font-size: inherit;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.custom-input > input{
    padding-right: 35px;
}

.custom-input:has(.input-feedback) {
    padding-top: 20px;
}

.custom-input .input-feedback {
    position: absolute;
    left: 0;
    top: 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 10px;
    gap: .5em;
}

.custom-input .input-feedback svg {
    width: 1em;
    height: 1em;
}

.custom-input .input-feedback {
    width: max-content;
    font-size: 1em;
    color: red;
}

