body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100dvh;
}

#root {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

:root {
    --loading: loading 1s linear infinite;
}

* {
    font-family: Satoshi;
}

main {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #111;
    position: relative;
}

a.primary, a.secondary, button.primary, button.secondary {
    text-decoration: none;
    color: inherit;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

a.primary, button.primary {
    background-color: green;
    box-shadow: 0 0 0px 0px transparent;
    transition: box-shadow 200ms ease-in-out;
}

a.secondary, button.secondary {
    background-color: transparent;
    border: none;
    outline: none;
}

a.secondary, button.secondary:hover {
    font-weight: bold;
}

button.primary:hover {
    box-shadow: 0 0 60px -5px green;
}

@keyframes loading {
    0% {
        rotate: 0;
    }
    99.999% {
        rotate: 360deg;
    }
    100% {
        rotate: 0;
    }
}

img.token-icon {
    width: .8em;
    display: inline-block;
}

svg.loading {
    animation: var(--loading);
    display: inline-block;
    width: 1em;
}

@media (min-width: 1000px) {
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: #1a1a1a;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #444;
        border-radius: 8px;
        border: 2px solid #1a1a1a;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #666;
    }
}